/* TODO Add site wide styles */
html,
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

* {
    font-family: sans-serif Montserrat;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 95%;
    background-color: white;
    z-index: 201;
}

.footer {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: white;
    color: gray;
    z-index: 200;
    border-top: lightgray solid 1px;
    font-size: 9px;
}

button {
    background-color: rgb(255, 90, 95);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

button:hover {
    opacity: .9;
    cursor: pointer;
}
.myLinks:hover{
    cursor: pointer;
}
textarea{
    resize: none;
}
.inputField{
   width: 400px;
}
.submitButton{
    width: 422px;
    height: 39px;
    padding: 10px;
    padding-right: 0px;
    border: 1px solid white;
    border-radius: 9px;
}
.inputFieldLarge{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 9px;
    padding-top: 5px;
    overflow: hidden;
    width: 380px;
    height:90px;
}
.formItem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:8px;
    border: 1px white solid;
    border-radius: 10px;
    width: 400px;
}
.inputField{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 9px;
}
