.notLoginRoot{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:100%;

}
#login{
    display: inline;
}
.centerButtons{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.noColor{
    background-color: lightgray;
}
.smallSubmitButton{
    color: white;
    width: 200px;
    height: 100x;
    border: 1px solid white;
    border-radius: 10px;
}
